<form class="container">
    <h1 class="text-center">Todo list</h1>
    <div class="new-task col-md-4 col-sm-12 p-3" action="" class="form" method="POST">
        <div class="input-group">
            <input class="new-task__text form-control" type="text" name="task-name" id="task-name"
                placeholder="add task..">
            <input class="new-task__add btn btn-primary" type="button" value="Add">
        </div>
    </div>
</form>

<div class="task-list col-md-6"></div>